@font-face {
    font-family: "muli";
    src : url("../fonts/Muli-Regular.ttf");
}

.cart-list-container {
    font-family: "muli";
    margin-top: 10px;
    margin-bottom: 3.5%;
}

.cart-list-title {
    color: #D32026;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.cart-list-product-container {
    padding: 0;
}

.cart-list-product-image-container {
    padding: 0;
}

.cart-list-remove-icon {
    position: absolute;
    left: -20px;
    top: 50px;
    width: 20%;
    height: 20%;
    opacity: 0.15;
}

.cart-list-product-image {
    width: 100%;
}

.cart-list-product-name-and-price {
    padding: 3.5% 0 0 0;
}

.cart-list-product-name {
    color: #D32026;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.cart-list-product-name:hover {
    text-decoration: none;
}

.cart-list-no-underline:hover {
    text-decoration: none;
}

.cart-list-product-price {
    color: #D32026;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.cart-list-product-total-item-container {
    padding: 0;
    text-align: center;
    padding: 5px 0 0 0;
}

.cart-list-product-total-item-title {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.cart-list-product-total-item {
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    padding-top: 9px;
}

.cart-list-minus-icon {
    position: absolute;
    top: 44px;
    right: 83px;
    width: 20%;
    height: 20%;
    opacity: 0.15;
}

.cart-list-underline {
    width: 70%;
    height: 0;
    border: 0.3px solid #000000;
    opacity: 0.09;
    margin: 0 auto;
}

.cart-list-plus-icon {
    position: absolute;
    top: 44px;
    right: 0px;
    width: 20%;
    height: 20%;
    opacity: 0.8;
}

.cart-list-underline-type-2 {
    width: 60%;
    height: 0;
    border: 0.3px solid #000000;
    margin: 0 auto;
}

.hover-effect:hover {
    cursor: pointer;
}