@font-face {
    font-family: "muli";
    src : url("../fonts/Muli-Regular.ttf");
}

.checkout-form-container {
    padding-top: 15px;
    font-family: "muli";
}

.checkout-form-title {
    color: #D32026;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.checkout-form-type-1 {
    padding: 1% 0 0 0;
}

.checkout-form-type-1 .form-group {
    margin-bottom: 0 !important;
    padding-right: 15px;
}

.checkout-form-label {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
}

.checkout-input-type-1 {
    width: 260px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}

.checkout-phone-example {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;   
}

.checkout-input-type-2 {
    width: 399px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}

.datalist-input::-webkit-calendar-picker-indicator {
    display: none;
}

.checkout-readonly {
    background-color: #E9ECEF;
}

.checkout-input-type-3 {
    width: 121px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
}

.checkout-input-type-4 {
    width: 535px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    resize: none;
}