@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900&display=swap');


.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
    padding-top: 10px;
}

.pagination-cluster .ui.pagination.menu {
    margin-left: 15px;
}

.ui.selection.dropdown.dropdown-table {
    min-width: 1px;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th.head-dropdown-table {
    padding-left: 0px;
}

.ui.selection.dropdown.dropdown-table {
    min-width: 1px;
}

.ui.sortable.table thead th {
    border-left: none !important;
    border-top: none !important;
}

.vertical-ellipsis a {
    text-decoration: none;
    color: unset;
}

.ui.selection.visible.dropdown>.text:not(.default) {
    font-weight: 700;
    color: white;
}