@font-face {
    font-family: "muli";
    src : url("../fonts/Muli-Regular.ttf");
}

.product-list-with-image-product-container {
    padding: 0;
    text-align: center;
}

.product-list-with-image-image {
    width: 85%;
}

.product-list-with-image-product-info {
    position: absolute;
    z-index: 7;
}

.product-list-with-image-line {
    height: 43%;
    width: 0px;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 28.5%;
    z-index: 8;
}

.product-list-with-image-dummy-div-1 {
    width: 100%;
    background-color: #FFFFFF;
    height: 75px;
    position: absolute;
    z-index: 6;
    top: 0;
}

.product-list-with-image-dummy-div-2 {
    width: 100%;
    background-color: #FFFFFF;
    height: 75px;
    position: absolute;
    z-index: 6;
    bottom: 0;
}

.product-list-with-image-dummy-div-3 {
    width: 21%;
    background-color: #FFFFFF;
    height: 115px;
    position: absolute;
    z-index: 7;
    left: 0;
    top: 75px;
}

.product-list-with-image-dummy-div-4 {
    width: 21%;
    background-color: #FFFFFF;
    height: 115px;
    position: absolute;
    z-index: 7;
    right: 0;
    top: 75px;
}

.product-list-with-image-dummy-div-5 {
    width: 100%;
    background-color: #FFFFFF;
    height: 67px;
    position: absolute;
    z-index: 6;
    top: 0;
}

.product-list-with-image-dummy-div-6 {
    width: 100%;
    background-color: #FFFFFF;
    height: 67px;
    position: absolute;
    z-index: 6;
    bottom: 0;
}

.product-list-with-image-dummy-div-7 {
    width: 21%;
    background-color: #FFFFFF;
    height: 100px;
    position: absolute;
    z-index: 7;
    left: 0;
    top: 68px;
}

.product-list-with-image-dummy-div-8 {
    width: 21%;
    background-color: #FFFFFF;
    height: 100px;
    position: absolute;
    z-index: 7;
    right: 0;
    top: 68px;
}

.product-list-with-image-product-info {
    position: absolute;
    bottom: 7%;
    left: 21.4%;
    font-family: "muli";
    text-align: left;
}

.product-list-with-image-formatting-link:hover {
    text-decoration: none;
}

.prouct-list-with-image-span-name {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

.prouct-list-with-image-span-name:hover {
    text-decoration: none;
    color: #D32026;
}

.prouct-list-with-image-span-price {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
}