@import url('https://fonts.googleapis.com/css?family=Muli:400,500,600,700,800,900&display=swap');

.sidebar-logo {
  width: inherit;
  padding: 30px 30px;
}

.col-sidebar {
  padding: 0px 0px;
  height: 100vh;
  background-color: #e30015;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgba(245, 181, 181, 0.3);
}

.sidebar-menu a {
  color: white;
  text-align: center;
  font-size: 1.9vw;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
}