@font-face {
    font-family: "muli";
    src : url("../fonts/Muli-Regular.ttf");
}


#title-transaksi, #title-jual, .title-page{
    font-family:Muli; 
    color:#8A8D93; 
    font-size:48px
}


#transaksi{
    margin: 5% auto ;
    
}

.all-transaksi{
    font-family: Muli;
    font-size: 14px;
}

#bayar{
    background: #1A345F;
    color: white;
}

.tabel-transaksi thead th{
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.tabel-transaksi thead, .tabel-transaksi tbody, .tabel-transaksi tbody tr {
    border-top: 7px solid #E0DEDE;
    border-right:7px solid #E0DEDE;
    border-left:7px solid #E0DEDE;
    border-bottom: 7px solid #E0DEDE;
    font-size: 14px;
    color: #1A345F
    
}
.d-inline-block {
    padding-left: 20px;

}

/* DAFTAR TRANSAKSI END */

/* LAPORAN PENJUALAN START */

#sort-date,#sort-transaction{
    font-weight: bold;
    
}
#sort-transaction{
    color: #1A345F;
}
#middle-hingga{
    margin-top:7px;
    padding-right: 5px;
    padding-left: 5px;
}

.all-penjualan{
    font-family: Muli;
}

.tabel-satu thead th{
    text-align: center;
    vertical-align: middle;
}
#date-but, #date-but-2, #payment-filter-but{
    background: #1A345F;
    border-radius:5px;
    color: white;
}
.export-excel{
    background-color: grey;
    color: white;
    border-color: grey;
}

.two-button{
    background-color: #d9dedb;
    height:110px;
    width:390px;
    padding-top:20px;
    padding-left:20px;
    padding-right:10px;
    padding-bottom: 0px;
    
}
.baris{
    padding-bottom: 20px;
    width: 100%;
}
.one-button-dropdown{
    background-color:#d9dedb;
    height:110px;
    width: 22%;
    padding-top:20px;
    padding-left:15px;
    margin-right:15px;
    margin-left:15px;
    
}
.one-button{
    background-color:#6fbf84;
    height:110px;
    width:35%;
    text-align: center;
    padding: 20px;

}
.two-button,.one-button-dropdown,.one-button{
    margin-top:20px;
    border-radius: 15px;
}

.dots{
    color:black;

}

.kluster{
    margin-top:40px;
    padding-left: 1.8%;
 } 
.tabel-satu{
    width:100%;
}
 .tabel-satu, .tabel-transaksi{
    text-align: center;

}
.tabel-satu thead{
    /* border: none; */
    border-top: 7px solid  #E0DEDE;
    border-right:7px solid  #E0DEDE;
    border-left:7px solid  #E0DEDE;

}

.tabel-satu tr{
    border-bottom:7px solid  #E0DEDE;
    border-right:7px solid  #E0DEDE;
    border-left:7px solid  #E0DEDE;
}

.tabel-satu thead{
    /* border: none; */
    border-top: 7px solid #E0DEDE;
    border-right:7px solid #E0DEDE;
    border-left:7px solid #E0DEDE;
    border-bottom: 7px solid #E0DEDE;
    
}
.rata-kanan{
    float: right;
    padding-left: 0px;
    padding-right:-30px
}
.rata-kiri{
    text-align: left;
    padding-left:30px;
}
/* LAPORAN PENJUALAN END */

/* DETAIL TRANSAKSI  START*/
.main-container{
    font-family: Muli;
    font-size: 120%;
}

.info-buyer{
    font-size: 140%;
}

.tabel-trans-satu tr, .tabel-trans-dua tr{
    border-top: 7px solid #E0DEDE;
    border-right:7px solid #E0DEDE;
    border-left:7px solid #E0DEDE;
    border-bottom: 7px solid #E0DEDE;
    font-size: 90%;
    color: #1A345F
}

.tabel-trans-satu thead, .tabel-trans-dua thead{
    /* border: none; */
    border-top: 7px solid #E0DEDE;
    border-right:7px solid #E0DEDE;
    border-left:7px solid #E0DEDE;
    border-bottom: 7px solid #E0DEDE;
    font-size: 90%;
    color: #1A345F

}
.tabel-trans-satu{
    width:100%;
    
}
.tabel-trans-dua{
    width: 150%;
    margin-left:2%;
    
    /* margin-right: 60%; */

}

.not-active-btn{
    pointer-events: none;
    height:50px;
    width:85%;
}
.detail-inside-box, .info-buyer{

    padding-left: 5%;
}
.back-button{
    width:40%;
    height:24%;
    padding-top: 1.5%;
    background: #1A345F;
    font-size: 160%;
    border-color: #1A345F;
    text-align: center;
    vertical-align: middle;
}

.big_detail{
    border-radius: 10px;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    background-color: #d9dedb;
}
.title-page{
    padding-top:3%;
}

#below-side{
    padding-top:9%;
}

.tabel-trans-dua th{
    padding: 8.5%;
}

.tabel-trans-satu th{
   text-align: center;
   padding-bottom: 3%;
}


/* DETAIL TRANSAKSI END */

.laporan-penjualan-export-excel{
    width: 196px;
    height: 36px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    font-family: "muli";
    font-size: 18px;
}

.laporan-penjualan-export-excel{
    margin-left: 150px;
}
.laporan-penjualan-export-excel a{
    text-decoration: none;
    color: black;
}


.laporan-penjualan-export-excel a{
    text-decoration: none;
    color: black;
}



