#transaksi{
    margin: 20% auto ;
    /* width:1000px;
    margin-right: 200px;
    padding:50px; */
    
}

.dots{
    color:black;

}


#sidebar{
    margin-bottom: -20%;
    /* height: 2000px; */
    background-color: red;
}

